body {
    background-color: #fafafa;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.header_icon {
    margin-right: 30px;
}

.menu_button {
    background-color: rgb(80, 80, 255);
    width: 45px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgb(80, 80, 255);
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.menu_button-bar {
    margin: 7px 0;
}

.menu_button-bar:nth-of-type(1) {
    border: 1px solid white;
    width: 12px;
}

.menu_button-bar:nth-of-type(2) {
    border: 1px solid white;
    width: 25px;
}

.menu_button-bar:nth-of-type(3) {
    border: 1px solid white;
    width: 5px;
}

.title {
    color: rgb(80, 80, 255);
}

.admin_header{
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.user{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attach{
    color: white;
    background-color: rgb(80, 80, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.detach{
    color: white;
    background-color: rgb(255, 80, 80);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.shop_select{
    text-align: center;
    margin: 30px auto;
}

.link{
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(80, 80, 255);
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
}